.page-title {
    margin-bottom: 45px;
}

.mat-option-text {
    display: flex !important;
    justify-content: space-between;
}

.conversion-area {
    .icon-compare-arrows::before {
        margin: 0 !important;
        align-self: center;
        padding: 0 !important;
        justify-self: center;
        width: 100%;
    }

    .opposite-arrows {
        font-size: 24px;
        padding: 0;
        min-width: 45px;
        max-height: 45px;
        width: auto;
        border: 1px solid #e0e0e0;
        box-shadow: none;
        background-color: white;
    }

    .convert-button {
        font-size: 12px;
        min-width: 45px;
        max-height: 45px;
        width: auto;
    }

    .from-control,
    .to-control {
        text-transform: uppercase;
    }
}
